/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
::selection{
  color: #000;
  background: #45f3ff;
}
.wrapper{
  width: 430px;
  position: absolute;
  background: #1c1c1c;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper header{
  color: #45f3ff;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  overflow: hidden;
}
.wrapper form{
  color: #45f3ff;
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #45f3ff;
}
section { 
  position:fixed;
  width:100vw;
  height:100vh;
  display: flex;
  justify-content:center;
  background-color: #000;                                                       
  align-items: center;
  gap:2px;    
  flex-wrap: wrap; 
  overflow:hidden;
}
section::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000,#45f3ff,#000);
  animation: animate 5s linear infinite;
}
.icon
{
  position: relative;
}
@keyframes animate {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(100%);
  }
}
section span{
  position:relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  transition: 1.5s;
}
section span:hover{
  background: #45f3ff;
  transition: 0s;
}
form :where(i, p){
  color: #45f3ff;
}
form i{
  font-size: 50px;
}
form p{
  margin-top: 15px;
  font-size: 16px;
}
section .row{
  margin-bottom: 1px;
  background: #181818;
  list-style: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color:#45f3ff;
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display:flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #45f3ff;
  border-radius: inherit;
}
.uploaded-area{
  max-height: 150px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #45f3ff;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  color: #45f3ff;
  font-size: 16px;
}

